{% extends 'base.html.twig' %}

    {% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body  %}




    {{ form_start (form) }}

    <p class="text-muted" style="font-size: 20px;margin-top: 3%">Les coordonnées de {{ form.vars.value.nom }} {{ form.vars.value.prenom }} :
        {% if form.vars.value.imageName is not null %}
            &nbsp;&nbsp; <img class=" rounded-circle"  src="/images/adminis/{{ form.vars.value.imageName}}" width="50" height="50"/>
        {% endif %}
    </p>




<div class="col-lg-12 col-lg-offset-3 row"style="margin-top: 3%">
    <div class="row">
  <div class="col-lg-4"> {{ form_row(form.nom) }}</div>
    <div class="col-lg-4">{{ form_row(form.prenom) }}</div>
    <div class="col-lg-4">{{ form_row(form.cin) }}</div>

        <div class="col-lg-4">{{ form_row(form.username) }}</div>

        <div class="col-lg-4">{{ form_row(form.tel) }}</div>

        <div class="col-lg-4">{{ form_row(form.lieu) }}</div>
        <div class="col-lg-4">{{ form_row(form.imageFile) }}</div >


       <div class="col-lg-offset-3  row">
        {% if form.vars.value.username == app.user.username and form.vars.value.password == app.user.password   %}
          <div class="container ml-100 ml-sm-15 ">
           <div class="col-lg-6"> {{ form_row(form.password.first)}}  </div >
           <div class="col-lg-6">  {{ form_row(form.password.second)}}</div >
<div   style="position: absolute;left: 35%;top: 103%;">
    <a href="{{ path('admin') }}" ><button type="button" class="btn btn-dark" style="width: 105px;" ><i class="fa fa-hand-o-left" ></i>&nbsp;Retour</button></a>

    <button type="submit" class="btn btn-secondary"style="width: 105px;" ><i class="fa fa-magic"></i>&nbsp; Modifier</button>
</div>
          </div>


        {% else %}
            <br><br><br><br>
            <div class="col-lg-6 invisible"> {{ form_row(form.password.first)}}  </div >
            <div class="col-lg-6 invisible">  {{ form_row(form.password.second)}}</div >
            <div style="padding-left: 20%;"><a href="{{ path('admin') }}" ><button type="button" class="btn btn-secondary"><i class="fa fa-hand-o-left" ></i>&nbsp;Retour</button></a></div>

    {% endif %}


       </div>  </div>  </div>

    {{ form_end(form)}}
{% endblock %}