{% extends 'base.html.twig' %}

    {% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body  %}

    {{ form_start (form) }}

    <div class="container">
    <div class="container mt-200 mt-sm-5">
        <div class="col-md-4"> {{ form_row(form.nom) }}</div>

        <div class="col-md-4">{{ form_row(form.prenom) }}</div>
        <div class="col-md-4">{{ form_row(form.cin) }}</div>
        <div class="col-md-4">{{ form_row(form.username) }}</div>
        <div class="col-md-4">{{ form_row(form.tel) }}</div>
        <div class="col-md-4">{{ form_row(form.lieu) }}</div>
        <div class="col-md-4">{{ form_row(form.imageFile) }}</div>

        <div class="col-md-4"> {{ form_row(form.password.first) }}</div>
        <div class="col-md-4">  {{ form_row(form.password.second) }}</div>

    </div>
    </div>

        <div style="position: absolute;top: 90%;left: 50%;">
            <button type="reset" class="btn btn-dark" style="width: 144.5px;"><i class="fa ti-reload" ></i>&nbsp;&nbsp;Annuler</button>
            <button type="submit" class="btn btn-secondary" style="width: 144px;"><i class="fa fa-magic" ></i>&nbsp; Ajouter</button>
            </div>


    {{ form_end (form) }}

{% endblock %}